<main class="gallery-wrapper">
  <section class="gallery">
    <gallery-image [filter]="filter"></gallery-image>
  </section>
  <aside class="filters card">
    <div class="filters-wrapper">
      <h3>Filters</h3>

      <div class="filter-item">
        <div>
          <label class="label-text">Blur</label>
        </div>
        <md-slider [min]="0" [max]="10" [value]="filters.blur" (change)="onChange($event, filterName.BLUR)"></md-slider>
      </div>

      <div class="filter-item">
        <div>
          <label class="label-text">Brightness</label>
        </div>
        <md-slider [min]="0" [max]="200" [value]="filters.brightness" (change)="onChange($event, filterName.BRIGHTNESS)"></md-slider>
      </div>
    </div>

  </aside>
</main>
