<main class="gallery-wrapper">
  <section class="gallery">
    <gallery-image [filter]="filter"></gallery-image>
  </section>
  <aside class="filters card">
    <div class="filters-wrapper">
      <h3>Filters <span (click)="clear()" class="filter-clear">Clear</span></h3>

      <div *ngFor="let filter of filters;let i = index;" class="filter-item">
        <div>
          <label class="label-text">{{filter.name}}</label>
          <span class="filter-value">{{filter.value}} {{filter.unit}}</span>
        </div>
        <md-slider [min]="filter.min" [max]="filter.max" [value]="filter.value" (change)="onChange($event, filter)"></md-slider>
      </div>

    </div>

  </aside>
</main>
