@import "utils";


.icon-main {
  display: inline-block;
  font-size: 16px;
}

.label-text {
  color: c('base', 'text-label-color');
  font-size: 12px;
}


.card {
  background: c('base', 'bg-white');
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  width: 100%;
  position: relative;
}
