@mixin board-animation() {
  //transition-property: top, bottom, width, opacity;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear, linear, ease;
}

.sidebar, .sidebar-wrapper, .main-panel, .main-content {
  @include board-animation();
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;

  &.sidebar-hide {
    .sidebar {
      width: 0;
      opacity: 0;
    }

    .main-panel {
      width: 100%;
    }
  }
}


//-----------sidebar----------//
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 260px;
  overflow: hidden;

  border-right: 1.5px solid c('base', 'border-color');
  background: c('base', 'sidebar-bg');

  box-shadow: 0 10px 30px -12px
  rgba(0, 0, 0, 0.42), 0 4px 25px 0px
  rgba(0, 0, 0, 0.12), 0 8px 10px -5px
  rgba(0, 0, 0, 0.2);
}


.sidebar-wrapper {
  position: relative;
  height: calc(100vh - 60px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}
//---------sidebar end---------//


//----------main panel---------//
.main-panel {
  max-height: 100%;
  height: 100%;
  position: relative;
  float: right;
  overflow: auto;
  width: calc(100% - 260px);
  min-height: 100%;
  transform: translate3d(0px, 0, 0);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-content {
  padding: 30px 10px;
  height: calc(100vh - 60px);
}
//---------main panel end--------//
