$colors: (
  base: (
    'border-color': #35373a,
    'link-color': #15b0ed,
    'text-label-color': #7e8792,

    'main-bg': #EEEEEE,
    'main-text-color': rgba(0,0,0, 0.9),

    'header-bg': #d7e2eb,
    'header-main-color': #555555,

    'sidebar-bg': #191919,
    'sidebar-text-color': #fff,
    'sidebar-text-active-color': #3C4858,
    'sidebar-bg-active-color': #fff,
    'sidebar-bg-hover-color': rgba(200, 200, 200, 0.2),

    'bg-white': #ffffff
  )
);

@function sk-color($palette, $tone: 'default', $colors: $colors) {

  $group: null;

  @if type_of($colors) != map { // Check if colors map exists and is valid
    @error "The passed param $colors is not a map.";
  }

  @if (map-has_key($colors, $palette)) { // Check if the specified palette exists
    $group: map-get($colors, $palette);
  } @else {
    @error "No pallete by the name of '#{$palette}' in $colors map"
  }

  @if ( map-has-key($group, $tone) ) { // Check id the specified tone exists
    @return map-get($group, $tone);
  } @else {
    @error "No color by the name of '#{$tone}' in the '#{$palette}' palette"
  }
}

@function c($palette, $tone: 'default') {
  @return sk-color($palette, $tone);
}
