@import "../../../../public/scss/utils";

.gallery-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 10px;

  .gallery-image-item {
    //width: 500px;
    max-width: 1000px;
  }

  .gallery-image {
    height: auto;
    max-width: 100%;
  }
}
