/* You can add global styles to this file, and also import other style files */

// material themes
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// my styles
@import "public/scss/reset";

// color
@import "public/scss/cutom_theme";
@import "public/scss/utils";
@import "public/scss/main-layout";
@import "public/scss/common";


// common styles
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: c('base', 'main-bg');
  color: c('base', 'main-text-color');
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
